<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="background">
      <header><%- include ('partials/header') %></header>
      <div class="container">
        <div class="flex-container py-2">
          <div class="py-1">
            <h4>Trending Movies</h4>
          </div>
          <div class="movies">
            <% data["results"].forEach(function(movie){ %>

            <div class="movie-item">
              <div class="movie-rating">
                <p>HQ</p>
              </div>
              <img
                class="movie-image"
                loading="lazy"
                src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/<%=movie['poster_path']%>"
              />
              <div class="movie-details">
                <div class="movie-name">
                  <a href=""><%= movie["original_title"] %></a>
                </div>
                <div class="movie-release-date">
                  <small><%= movie["release_date"]%></small>
                </div>
              </div>
            </div>

            <% }) %>
          </div>
        </div>
        <!-- <div id="form-info">
          <h1>Search For a Movie</h1>
          <form class="form-input py-2" action="/results" method="GET">
            <input
              class="py-1"
              type="text"
              placeholder="Type here..."
              name="search"
            />
          </form>
        </div> -->
      </div>
    </div>
  </body>
</html>
